<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Registration succeeded code java</title>
    <link rel="stylesheet" type="text/css" href="/webjars/bootstrap/css/bootstrap.min.css"/>
</head>
<body bgcolor="#7fff00">
<br>
<br>
<br>
<br>
<br>
<br>
<div class="container text-center" align="center" >
    <h1>You have signed up succesfully</h1>

    <h3><a href ="index.html"> Click here to login</a> </h3>
    <h3><a href="userss.html">Display USer List</a> </h3>
</div>
</body>
</html>